            :focus {
                outline: none !important;
            }

            .wrap {
                width: 100%;
                height: auto;
                margin-top: 105px;
            }

            .submit, .success{
                display: flex;
                justify-content: center;
            }
            
            .d-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #contact__form {
                width: 75%;
                height: auto;
                display: flex;
                flex-direction: column;
                font-size: 20px;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 1px;
                line-height: 1.5;
            }

            #contact__form > input, #contact__form > textarea {
                margin-bottom: 1em;
                padding: 0.2em;
                font-size: 17px;
            }

            #contact__form > textarea {
                resize: vertical;
            }

            #contact__form > label {
                padding: 0.2em 0.2em 0.2em 0em;
            }
			.error {
				border: 1px solid red;
            }
            .row {
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
            }
            .col_6_12 {
                width: 50%;
            }
	    @media only screen and (max-width: 1295px){
  	    	.col_6_12 {
    			width: 100%;
            }
            iframe {
                height: 300px;
            }
        }
            .submit input {
                color: white;
                font-family: Stew-Light;
                font-size: 19px;
                text-decoration: none;
                letter-spacing: 1px;
            }
            .submit input:hover {
                color: #AC2A29;
            }
	    .required {
		color: red;
        }
        h1 {
            font-family: Stews;
            font-size: 3.4em;
            letter-spacing: 3px;
            color: #AC2A29;
            margin: 0;
        }