@import "_media_queries";
@import "modules/global.scss";
@import "modules/catering.scss";
@import "modules/delivery.scss";
@import "modules/nav.scss";
@import "modules/slider.scss";
@import "modules/services.scss";
@import "modules/specials.scss";
@import "modules/footer.scss";
@import "modules/admin_panel.scss";
@import "modules/admin_login.scss";


@font-face {
    font-family: 'Stews';
    src: url('../fonts/stews.otf');
}

@font-face {
    font-family: 'Stew-Light';
    src: url('../fonts/stew.otf');
}

* {
    box-sizing: border-box;
  }