/*********** GLOBAL STYLES ***********/
body {
  background-color: #f2e6d9;
  margin: 0 auto; }

.service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px; }

.service-wrapper > .service-blocks {
  margin: 35px;
  text-align: center;
  position: relative;
  opacity: 0.8; }
  .service-wrapper > .service-blocks:hover {
    opacity: 1; }
  .service-wrapper > .service-blocks .centered {
    position: absolute;
    font-family: Stews;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 12px #030303;
    font-size: 1.8em;
    letter-spacing: 5px; }
    @media only screen and (min-width: 768px) {
      .service-wrapper > .service-blocks .centered {
        font-size: 1.3em; } }
    @media only screen and (min-width: 1024px) {
      .service-wrapper > .service-blocks .centered {
        font-size: 1.6em; } }
    @media only screen and (min-width: 1440px) {
      .service-wrapper > .service-blocks .centered {
        font-size: 2.1em; } }

/***********  CATERING STYLES **********/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container .title_catering {
    font-size: 2.8em;
    font-family: 'Stew-Light';
    text-align: center; }
    @media only screen and (min-width: 425px) {
      .container .title_catering {
        padding: 0 10px; } }
    @media only screen and (min-width: 1440px) {
      .container .title_catering {
        font-size: 3.6em; } }
  .container .phone_number_catering {
    font-family: 'Stew-Light';
    text-align: center;
    font-size: 1em; }
    @media only screen and (min-width: 768px) {
      .container .phone_number_catering {
        font-size: 1.4em; } }
    @media only screen and (min-width: 1440px) {
      .container .phone_number_catering {
        font-size: 1.6em; } }

/************Delivery Styles*************/
.title_delivery {
  text-align: center;
  font-size: 2.6em; }

.phone_number_delivery {
  text-align: center;
  font-size: 1.4em; }

.delivery_container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .delivery_container .delivery_stack-one {
      display: flex;
      flex-direction: row; } }
  @media only screen and (min-width: 768px) {
    .delivery_container .delivery_stack-two {
      display: flex;
      flex-direction: row; } }
  @media only screen and (min-width: 1024px) {
    .delivery_container {
      flex-direction: row;
      margin-top: 80px; } }
  .delivery_container .delivery_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .delivery_container .delivery_items {
        margin: 30px; } }
    @media only screen and (min-width: 1024px) {
      .delivery_container .delivery_items {
        margin: 10px; } }
    .delivery_container .delivery_items img + img {
      margin-top: 15px; }
      @media only screen and (min-width: 1440px) {
        .delivery_container .delivery_items img + img {
          margin-left: 50px; } }
    @media only screen and (min-width: 768px) {
      .delivery_container .delivery_items .img_mytown + .img_doordash {
        margin: 0 500px; } }
    .delivery_container .delivery_items .img_mytown {
      height: 165px;
      width: 165px; }
      @media only screen and (min-width: 768px) {
        .delivery_container .delivery_items .img_mytown {
          height: 180px;
          width: 180px; } }
      @media only screen and (min-width: 1024px) {
        .delivery_container .delivery_items .img_mytown {
          height: 165px;
          width: 165px; } }
      @media only screen and (min-width: 1440px) {
        .delivery_container .delivery_items .img_mytown {
          height: 200px;
          width: 200px; } }
    .delivery_container .delivery_items .img_doordash {
      height: 110px;
      width: 250px; }
      @media only screen and (min-width: 1440px) {
        .delivery_container .delivery_items .img_doordash {
          height: 160px;
          width: 300px; } }
    .delivery_container .delivery_items .img_grubhub {
      height: 68px;
      width: 280px; }
      @media only screen and (min-width: 1440px) {
        .delivery_container .delivery_items .img_grubhub {
          height: 108;
          width: 320; } }
    .delivery_container .delivery_items .img_seamless {
      width: 250px;
      height: 123px; }
      @media only screen and (min-width: 1440px) {
        .delivery_container .delivery_items .img_seamless {
          width: 300px;
          height: 173px; } }

/*********** NAV STYLES ***********/
.nav-container {
  display: flex;
  background-color: black; }
  .nav-container img {
    padding: 0 30px; }
  .nav-container .nav-item {
    flex: 1 1 20em;
    background-color: black;
    border-top: 1px solid #aba69b;
    border-left: 1px solid #aba69b;
    border-right: 1px solid #aba69b;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    padding: 42px;
    border-bottom: 1px solid #aba69b; }
    @media only screen and (min-width: 320px) {
      .nav-container .nav-item {
        display: none; } }
    @media only screen and (min-width: 1024px) {
      .nav-container .nav-item {
        display: block; } }
    .nav-container .nav-item a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 26px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-weight: bold;
      letter-spacing: 1px; }
      .nav-container .nav-item a:hover {
        color: #e67837; }

.nav-container a.icon {
  display: block;
  text-align: right;
  padding-right: 10px; }
  @media only screen and (min-width: 320px) {
    .nav-container a.icon {
      width: 75%;
      margin-top: 10px; } }
  @media only screen and (min-width: 425px) {
    .nav-container a.icon {
      width: 300px; } }
  @media only screen and (min-width: 768px) {
    .nav-container a.icon {
      width: 640px; } }
  @media only screen and (min-width: 1024px) {
    .nav-container a.icon {
      display: none; } }

.nav-container.responsive {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .nav-container.responsive .stewsLogo {
    display: none; }

.nav-container.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0; }

.nav-container.responsive .nav-item {
  float: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-item {
  flex: none; }

.stewsLogo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 1024px) {
    .stewsLogo {
      border-bottom: 1px solid #aba69b; } }
  .stewsLogo img {
    width: 120px;
    height: 70.797px;
    padding-right: 8px; }
    @media only screen and (min-width: 1024px) {
      .stewsLogo img {
        width: 200px;
        height: 140px; } }

.fa {
  font-size: 3.5em;
  color: white; }

/************* SLIDER STYLERS *************/
.slider .mySlides {
  height: 90vh; }
@media only screen and (min-width: 768px) {
  .slider {
    width: 100%; } }

/* Service Wrapper */
.service-wrapper {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .service-wrapper {
      flex-direction: row; } }
  .service-wrapper .service-blocks a img {
    width: 250px;
    height: 165.5px; }
    @media only screen and (min-width: 320px) {
      .service-wrapper .service-blocks a img {
        width: 300px;
        height: 200px; } }
    @media only screen and (min-width: 768px) {
      .service-wrapper .service-blocks a img {
        width: 180px;
        height: 165px; } }
    @media only screen and (min-width: 1024px) {
      .service-wrapper .service-blocks a img {
        width: 235px;
        height: 215px; } }
    @media only screen and (min-width: 1440px) {
      .service-wrapper .service-blocks a img {
        width: 350px;
        height: 300px; } }

.location-wrapper, .announcement-wrapper, .about-wrapper {
  text-align: center;
  width: 100%; }
  .location-wrapper p, .announcement-wrapper p, .about-wrapper p {
    font-family: Stews;
    font-size: 3.4em;
    letter-spacing: 3px;
    color: #AC2A29;
    margin-bottom: 30px; }
    @media only screen and (min-width: 320px) {
      .location-wrapper p, .announcement-wrapper p, .about-wrapper p {
        font-size: 2.8em; } }
  .location-wrapper p + p, .announcement-wrapper p + p, .about-wrapper p + p {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: auto;
    width: 59%; }
    @media only screen and (min-width: 320px) {
      .location-wrapper p + p, .announcement-wrapper p + p, .about-wrapper p + p {
        font-size: 1em;
        width: 90%; } }
    @media only screen and (min-width: 1024px) {
      .location-wrapper p + p, .announcement-wrapper p + p, .about-wrapper p + p {
        font-size: 1.1em; } }
    @media only screen and (min-width: 1440px) {
      .location-wrapper p + p, .announcement-wrapper p + p, .about-wrapper p + p {
        font-size: 1.3em; } }

@media only screen and (min-width: 320px) {
  .location-wrapper p {
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px; }
  .location-wrapper img {
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center; } }
  @media only screen and (min-width: 320px) and (min-width: 1440px) {
    .location-wrapper img {
      width: 425px;
      height: 375px; } }

iframe {
  margin-top: 80px; }

.facebook_iframe {
  width: 320px; }
  @media only screen and (min-width: 425px) {
    .facebook_iframe {
      width: 400px; } }
  @media only screen and (min-width: 570px) {
    .facebook_iframe {
      width: 500px; } }

.cta-banner {
  margin-top: 75px;
  position: relative; }
  .cta-banner img {
    height: 200px;
    opacity: 0.65; }
  .cta-banner .centered {
    position: absolute;
    font-family: Stews;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 12px #030303;
    font-size: 2.3em;
    letter-spacing: 7px;
    text-align: center; }

.temp {
  height: 300px;
  border: 1px solid black; }

.btn {
  background-color: #F58220;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin: 33px 0;
  cursor: pointer; }
  .btn:hover {
    border: 3px solid #AC2A29; }
  .btn a {
    color: white;
    font-family: Stew-Light;
    font-size: 19px;
    text-decoration: none;
    letter-spacing: 1px; }
    .btn a:hover {
      color: #AC2A29; }

/***********  Specials styles *************/
.specials-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: -50px; }
  .specials-wrapper .specials-title {
    font-size: 2.4em; }

.specials-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 35px 5px; }
  .specials-blocks .specials-menu_name {
    color: #AC2A29;
    font-size: 1.7em;
    font-family: Arial, Helvetica, serif; }
  .specials-blocks .specials-menu_picture {
    width: 300px;
    height: 300px; }
    @media only screen and (min-width: 768px) {
      .specials-blocks .specials-menu_picture {
        width: 180px;
        height: 165px; } }
    @media only screen and (min-width: 1024px) {
      .specials-blocks .specials-menu_picture {
        width: 250px;
        height: 200px; } }
  .specials-blocks .specials-menu_description {
    font-size: .65em;
    width: 90%;
    color: black;
    font-family: Arial, Helvetica, serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 15px auto; }
  .specials-blocks .specials-menu_price {
    color: black;
    margin: auto; }

/*********** FOOTER STYLES ***********/
footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 195px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 105px; }
  @media only screen and (min-width: 768px) {
    footer {
      display: inherit;
      flex-wrap: inherit; } }
  @media only screen and (min-width: 768px) {
    footer .footerGroup {
      display: flex;
      flex-direction: row; } }
  footer .location_phone {
    display: flex;
    flex-direction: column; }
  footer *[x-apple-data-detectors] {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important; }
  footer .footer-item {
    flex: 1 1 20em;
    border-top: 1px solid #aba69b;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; }
    footer .footer-item .phone_number {
      text-decoration: none;
      color: white; }
    footer .footer-item .block {
      line-height: 120%;
      margin: auto;
      display: inline-flex; }
      @media only screen and (min-width: 320px) {
        footer .footer-item .block {
          font-size: .6em; } }
      @media only screen and (min-width: 768px) {
        footer .footer-item .block {
          font-size: 1em; } }
    footer .footer-item .hours {
      padding-right: 15px;
      padding-left: 15px; }
  footer .elements {
    flex-direction: column; }
    footer .elements .login {
      color: white;
      text-decoration: none; }
  footer .footer-copyright {
    padding: 0; }
    footer .footer-copyright .copyright {
      font-size: 8px; }
      @media only screen and (min-width: 320px) {
        footer .footer-copyright .copyright {
          font-size: .6em; } }
      @media only screen and (min-width: 768px) {
        footer .footer-copyright .copyright {
          font-size: .8em; } }
  footer .fa.fa-facebook-f {
    color: white;
    font-size: 2em;
    margin-top: -2px;
    margin: 0 25px; }
    footer .fa.fa-facebook-f:hover {
      color: #3c5a99; }

@media screen and (max-width: 600px) {
  .footerGroup {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto; }

  footer .footer-item {
    padding: 0;
    line-height: 1;
    border-left: solid white 1px; }

  footer .block {
    padding-top: 30px; } }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  table td, table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; }
  table tr:nth-child(even) {
    background-color: #dddddd; }
  table .table_menu {
    display: flex;
    justify-content: center;
    align-items: center; }
  table td a {
    text-decoration: none; }

nav {
  background-color: #dddddd;
  display: flex;
  flex-direction: row; }
  nav ul {
    display: flex;
    flex-direction: row;
    width: 100%; }
    nav ul li {
      list-style-type: none; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        cursor: pointer; }
    nav ul li:nth-child(2) {
      list-style-type: none;
      margin-left: 50px; }
    nav ul li:nth-child(3) {
      justify-content: flex-end;
      width: 60%;
      display: flex; }

.menu_picture {
  width: 125px;
  height: 125px; }

.main_pic {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center; }

.login_form {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5; }
  .login_form .username-login {
    margin-bottom: 1em;
    padding: 0.2em;
    font-size: 17px; }
  .login_form .password-login {
    margin-bottom: 1em;
    padding: 0.2em;
    font-size: 17px; }
  .login_form .submit {
    display: flex;
    justify-content: center;
    width: 100%; }
    .login_form .submit .submit_btn {
      background-color: #f58220;
      border: none;
      padding: 20px;
      text-align: center;
      display: inline-block;
      border-radius: 8px;
      margin: 33px 0;
      background-color: #f58220;
      cursor: pointer;
      color: white;
      font-family: Stew-Light;
      font-size: 19px;
      text-decoration: none;
      letter-spacing: 1px; }

@font-face {
  font-family: 'Stews';
  src: url("../fonts/stews.otf"); }
@font-face {
  font-family: 'Stew-Light';
  src: url("../fonts/stew.otf"); }
* {
  box-sizing: border-box; }

/*# sourceMappingURL=stews.css.map */
