table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .table_menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td {
        a{
            text-decoration: none;
        }
    }
}

nav{
    background-color: #dddddd;
    display: flex;
    flex-direction: row;

    ul{

        display: flex;
        flex-direction: row;
        width: 100%;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: black;
                font-size: 18px;
                cursor: pointer;
            }
            
        }

        li:nth-child(2){
            list-style-type: none;
            margin-left:50px;
        }

        li:nth-child(3){
            justify-content: flex-end;
            width: 60%;
            display: flex;
        }
    }
}

.menu_picture{
    width: 125px;
    height: 125px;
}