.main_pic{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.login_form{

    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;

    .username-login{
        margin-bottom: 1em;
        padding: 0.2em; 
        font-size: 17px;
    }

    .password-login{
        margin-bottom: 1em;
        padding: 0.2em; 
        font-size: 17px;
    }

    .submit{
        display: flex;
        justify-content: center;
        width: 100%;
        
        .submit_btn{

            background-color: #f58220;
            border: none;
            padding: 20px;
            text-align: center;
            display: inline-block;
            border-radius: 8px;
            margin: 33px 0;
            background-color: #f58220;
            cursor: pointer;
            color: white;
            font-family: Stew-Light;
            font-size: 19px;
            text-decoration: none;
            letter-spacing: 1px;
        }

    }
}