/***********  CATERING STYLES **********/ 

.container {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .title_catering {
        font-size: 2.8em;
        font-family: 'Stew-Light';
        text-align: center;

        @include phoneLarge{
            padding: 0 10px;
        }

        @include laptopLarge{
            font-size: 3.6em;
        }
    }
    
    .phone_number_catering {
        font-family: 'Stew-Light';
        text-align: center;
        font-size: 1em;

        @include tablet{
            font-size: 1.4em;
        }

        @include laptopLarge{
            font-size: 1.6em;
        }
    }
}