/************Delivery Styles*************/
.title_delivery{
    text-align: center;
    font-size: 2.6em;
}
.phone_number_delivery{
    text-align: center;
    font-size: 1.4em;
}
.delivery_container{

    margin-top: 40px;
    width: 100%;
    // height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    .delivery_stack-one{

        @include tablet{
            display: flex;
            flex-direction: row;
        }

    }

    .delivery_stack-two{

        @include tablet{
            display: flex;
            flex-direction: row;
        }

    }

    @include laptop{
        flex-direction: row;
        margin-top: 80px;
    }

    .delivery_items{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;

        @include tablet{
            margin: 30px;
        }

        @include laptop{
            margin: 10px;
        }

        img + img{
            margin-top: 15px;

            @include laptopLarge{
                margin-left: 50px;
            }
        }

        @include tablet{
            .img_mytown + .img_doordash{
                margin: 0 500px;
            }
        }

        .img_mytown{

            height: 165px;
            width: 165px;

            @include tablet{
                height: 180px;
                width: 180px;
            }

            @include laptop{
                height: 165px;
                width: 165px;
            }

            @include laptopLarge{
                height: 200px;
                width: 200px;
            }
        }

        .img_doordash{
            height: 110px;
            width: 250px;

            @include laptopLarge{
                height: 160px;
                width: 300px;
            }
        }

        .img_grubhub{
            height: 68px;
            width: 280px;

            @include laptopLarge{
                height: 108;
                width: 320;
            }
        }

        .img_seamless{
            width: 250px;
            height: 123px;

            @include laptopLarge{
               width: 300px;
                height: 173px; 
            }
        }

    }
}