/*********** FOOTER STYLES ***********/
footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 195px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 105px;
    
    @include tablet{

        display: inherit;
        flex-wrap: inherit;

    }

    .footerGroup{

        @include tablet{

            display: flex;
            flex-direction: row;

        }

    }

    .location_phone{
        display: flex;
        flex-direction: column;
    }

    *[x-apple-data-detectors] {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
    }

    .footer-item {
        flex: 1 1 20em;
        border-top: 1px solid #aba69b;
        margin-top: -1px;
        margin-left: -1px;
        text-align: center;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;

        .phone_number{
            text-decoration: none;
            color: white;
        }

        .block{
            line-height: 120%;
            margin: auto;
            display: inline-flex;

            @include phoneMedium{
                font-size: .6em;
            }

            @include tablet{
                font-size: 1em;
            }
        }

        .hours{
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    .elements{
        flex-direction: column;
        
        .login{
            color: white;
            text-decoration: none;
        }
    }

    .footer-copyright{
        padding: 0;

        .copyright {
            font-size: 8px;

            @include phoneMedium{
                font-size: .6em;
            }

            @include tablet{
                font-size: .8em;
            }
        }
    }
    

    .fa.fa-facebook-f {
        color: white;
        font-size: 2em;
        margin-top: -2px;
        margin: 0 25px;

        &:hover {
            color: #3c5a99;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .footerGroup {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    footer .footer-item {
        padding: 0; 
        line-height: 1;
        border-left: solid white 1px;
    }

    footer .block {
        padding-top: 30px;
    }
}
