/*********** GLOBAL STYLES ***********/
body {
    background-color: #f2e6d9;
    margin: 0 auto;
}

.service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
  
.service-wrapper > .service-blocks {
    // width: 500px;
    margin: 35px;
    text-align: center;
    position: relative;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
    
    .centered {
        position: absolute;
        font-family: Stews;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        text-shadow: 2px 2px 12px #030303;
        font-size: 1.8em;
        letter-spacing: 5px;

        @include tablet{

            font-size:1.3em;
        
        }

        @include laptop{

            font-size:1.6em;
        
        }

        @include laptopLarge{

            font-size:2.1em;
        
        }
    }

    
}