/*********** NAV STYLES ***********/


.nav-container {
    display: flex;
    background-color: black;

    img {
        padding: 0 30px;
    }
  
.nav-item {
    flex: 1 1 20em;
    background-color: black;
    border-top: 1px solid #aba69b;
    border-left: 1px solid #aba69b;
    border-right: 1px solid #aba69b;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    padding: 42px;
    border-bottom: 1px solid #aba69b;

    @include phoneMedium{

        display: none;
    
    }

    @include laptop{

        display: block;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;

        &:hover {
            color: #e67837;
        } 
    }
}
}
.nav-container a.icon {
    display: block;
    text-align: right;
    padding-right: 10px;

    @include phoneMedium{
        width: 75%;
        margin-top: 10px;
    }

    @include phoneLarge{
        width: 300px;
    }

    @include tablet{
        width: 640px;
    }

    @include laptop{
        display:none;
    }
  }

  .nav-container.responsive {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100vh;

        .stewsLogo{
            display: none;
        }
    }
    .nav-container.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-container.responsive .nav-item {
      float: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .nav-item {
      flex: none;
    }

    .stewsLogo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        

        @include laptop{
            border-bottom: 1px solid #aba69b;
        }
        img{
            width: 120px;
            height: 70.797px;
            padding-right: 8px;

            @include laptop{
                width: 200px;
                height: 140px;
            }
        }
      }


  
  .fa {
    font-size: 3.5em;
    color: white;
  }