/* Service Wrapper */

.service-wrapper {

    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }

    .service-blocks{
        a{
            img{
                width: 250px;
                height: 165.5px;

                @include phoneMedium{
                    width: 300px;
                    height: 200px;
                }

                @include tablet{
                    width: 180px;
                    height: 165px;
                }

                @include laptop{
                    width: 235px;
                    height: 215px;
                }

                @include laptopLarge{
                    width: 350px;
                    height: 300px;
                }
            }
        }
    }
}


.location-wrapper, .announcement-wrapper, .about-wrapper {
text-align: center;
width: 100%;

    p {
        font-family: Stews;
        font-size: 3.4em;
        letter-spacing: 3px;
        color: #AC2A29;
        margin-bottom: 30px;

        @include phoneMedium{
            font-size: 2.8em;
        }
    }

    p + p {
        font-size: 20px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: auto;
        width: 59%;

        @include phoneMedium{
            font-size: 1em;
            width: 90%;
        }

        @include laptop{
            font-size: 1.1em;
        }

        @include laptopLarge{
            font-size: 1.3em;
        }
    }
}

@include phoneMedium{

.location-wrapper{

    p{
        font-size: 1.5em;
        padding-right: 10px;
        padding-left: 10px;
    }

    img{
        width:300px;
        height: 250px;
        justify-content: center;
        align-items: center;

        @include laptopLarge{
            width: 425px;
            height: 375px;
        }
    }
}

}

iframe {
margin-top: 80px;
}

.facebook_iframe{
width: 320px;

@include phoneLarge{
    width: 400px
}

@include smallTablet{
    width: 500px
}
}

.cta-banner {
margin-top: 75px;
position: relative;

img {
    height: 200px;
    opacity: 0.65;
}

.centered {
    position: absolute;
    font-family: Stews;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 12px #030303;
    font-size: 2.3em;
    letter-spacing: 7px;
    text-align: center;
}
}

// delete when content filled in (below)
.temp {
height: 300px;
border: 1px solid black;
}

.btn {
background-color: #F58220;
border: none;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 8px;
margin: 33px 0;
cursor: pointer;

&:hover {
    border: 3px solid #AC2A29;
}

a {
    color: white;
    font-family: Stew-Light;
    font-size: 19px;
    text-decoration: none;
    letter-spacing: 1px;

    &:hover {
        color: #AC2A29;
    }
}
}