/***********  Specials styles *************/

//tablet or lower maker everything display as column
.specials-wrapper{
    
    text-align: center;
    width: 100%;
    margin-bottom: -50px;

    .specials-title{
        font-size: 2.4em;
    }
}

.specials-blocks{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: solid black;
    margin: 35px 5px;

    .specials-menu_name{
        color: #AC2A29;
        font-size: 1.7em;
        font-family: Arial, Helvetica, serif;
    }

    .specials-menu_picture{
        width: 300px;
        height: 300px;

        @include tablet{
            width: 180px;
            height: 165px;
        }

        @include laptop{
            width: 250px;
            height: 200px;
        }
    }

    .specials-menu_description{
        font-size: .65em;
        width: 90%;
        color: black;
        font-family: Arial, Helvetica, serif;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 15px auto;
    }

    .specials-menu_price{
        color: black;
        margin: auto;
    }
}